.background {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}
.container.add {
    padding : 50px 0;
    position: relative;
    top: 70px; left: calc(100vw - 1200px);
    width: 400px; 
    background-color: white;
    animation: down-add 1.1s, fade-in 0.5s
}
.container.detailUpdate {
    padding : 50px;
    position: relative;
    top: 340px; left: calc(100vw - 1200px);
    width: 400px; 
    background-color: white;
    animation: down-detailUpdate 1.1s, fade-in 0.5s
}
.container.add  > div {
    padding-left: 30px;
}

.container.addJob {
    padding : 50px 0;
    position: relative;
    top: 150px; left: calc(100vw - 1200px);
    width: 400px; 
    background-color: white;
    animation: down-add-job 1.1s, fade-in 0.5s
}

.container.addJob > div {
    padding-left: 30px;
}

@keyframes down-add {
    from {
        top : -250px
    } to {
        top : 70px
    }
}

@keyframes down-add-job {
    from {
        top : -250px
    } to {
        top : 150px
    }
}

@keyframes down-detailUpdate {
    from {
        top : -250px
    } to {
        top : 340px
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}