.container {
    margin-left: 500px; margin-top: 200px;
}

.container table {
    background-color: white;
}

.container table tr td {
    text-align: center;
}

.container table tr td:nth-child(3) {
    text-align: left;
    width: 500px;
}