@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

html, body{
  font-family:  "Noto Sans KR", serif;
  background-color: #c4ddff ;
  margin: 0; padding: 0;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  -ms-overflow-style: none;
  user-select:none
}::-webkit-scrollbar {
  display: none;
}

hr,h1, h2, h3, h4, h5  {
  margin: 0; padding: 0;
}

.dots {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.dot {
  width: 15px;
  height: 15px;
  margin: 0 5px;
  background-color: #161155;
  border-radius: 50%;
  animation: bounce 1s infinite ease-in-out;
}

.dot:nth-child(2) {
  animation-delay: 0.2s;
}

.dot:nth-child(3) {
  animation-delay: 0.4s;
}

.pagenation li {
  display: inline-block ;
  margin: 0 10px;
}

.active {
  font-weight: 700;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}