.container {
    margin: 0 auto;
    text-align: center;
    color: white;
    height: 100vh;
    background-color: #161155;
}
.container h1 {
    padding-top: 430px;
}
.container a {
    position: relative;
    top : 50px;
    text-decoration: none;
    font-size: 18px; font-weight: 900; color: black;
    padding : 15px 55px 15px 45px;
    border: 0px; border-radius: 50px;
    background-color: white;
}

.container a:hover {
   box-shadow: 1px 1px 10px 1px;
}